* {
  margin: 0;
}

.app {
  /* background-color: #2d0052; */
  color: white;
  display: grid;
  place-items: center;
  /* background-color: #dadbd3; */
  height: 100vh;
  background-color: #52006a;
  background-image: url("https://www.transparenttextures.com/patterns/cubes.png");
  /* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
}

.app__body {
  display: flex;
  height: 90vh;
  width: 80vw;
  place-content: center;
  align-items: center;
  background-color: #47597e;
  box-shadow: -1px 4px 20px -6px rgba(0, 0, 0, 0.7);
}

.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 2px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}

.others {
  font-weight: bold;
  color: black;
}

.others:hover {
  cursor: pointer;
  opacity: 0.5;
  font-weight: bold;
}
