:root {
  --color-white: #FFF;
  --color-primary: #1C01FF;
  --color-primary-dark: #1A04C4;
  --color-dark: #131E41;
  --color-dark-50: #424242;
  --color-dark-10: #888DA0;
  --color-red: #FD1941;
  --color-red-50: #FD8BA0;
  --color-green: #1BDC77;
  --box-shadow-color: rgba(139, 140, 185, 0.2);
}

@font-face {
font-family: "MaxWebW03-Book";
src: local(""),
 url("./fonts/MaxWebW03-Book.ttf") format("truetype");
font-weight: bold;
}

/* * {
  margin: 0;
} */
html,
body {
  height: 100%;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  color: var(--color-dark-50);
  background-color: var(--color-white);
  font-family: "MaxWebW03-Book";
}

.app {
  display: grid;
  place-items: center;
}

.note {
  border-radius: 7px;
  box-shadow: var(--box-shadow-color);
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}

.others {
  font-weight: bold;
  color: --var(color-dark);
}

.others:hover {
  cursor: pointer;
  opacity: 0.5;
  font-weight: bold;
}

.btn {
  color: var(--color-white);
  background-color: var(--color-primary);
  border: 0;
}
.btn.primary:hover {
  background-color: var(--color-primary-dark);
  color: white;
}

.block {
  width: 100%; 
}
.success {
  color: var(--color-green);
}
.danger {
  color: var(--color-red);
}