.sidebar__container {
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  padding-top: 30px;
  width: 15vw;
  height: 100vh;
  box-shadow: -1px 4px 20px -6px rgb(0 0 0 / 65%);
  background-color: #efefef;
}

.icon {
  font-size: 3rem;
}

.logo {
  display: flex;
  justify-content: space-between;
  font-size: 2rem;
}

.log,span {
  display: block;
  margin-left: 20px;
}

.heading > h3 {
  padding-bottom: 0;
}

.button__box {
  width: 100%;
  margin-top: 2rem;
}
.button__box > button {
  height: 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}